body {
    background: lightblue;
}

table {
    
}

.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

#input {
    border-radius: 40px;
    background-color: orange;
    font-size: 20px;
    font-family: sans-serif, Arial, Helvetica, sans-serif, 'Times New Roman';
}
